/codegen/
/mexcodes/
!/mexcodes/.emptyfolder
matlab.mat
*.asv
desktop.ini
/examples/sgddesign/volumes/
/examples/sgddesign/tiff/
/examples/tsp2017/volumes/
/examples/dcnn/data/
!/examples/dcnn/data/.emptyfolder
